.center{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.hide{display: none}

button{
  cursor: pointer;
}

.flex-evenly{
  display: flex;
  justify-content: space-evenly;
}

ul{
  text-align: start;
}

li + li{
  margin-top: 10px;
}